html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:after,
*:before {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

body {
  margin: 0;
  background: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}
.codepen{
  background: #333333;
  color: #fff; 
}
.pen {
  background: #1e1f26;
  height: 65px;
  padding:20px 10px;
}
.pen__details{
  position: absolute;
  top: 10px;
  left: 10px;
}
.pen .pen__details h1{
  margin: 0;
  padding:0;
}
.pen .pen__details p{
  font-size:.7em;
  margin: 0 0 10px 0;
}
.pen img{
  width: 44px;
  height: 44px;
  border-radius:5px;
  overflow: hidden;
  position: absolute;
  top: 14px;
  right: 20px;
}
.top__navigation{
  position: absolute;
  top: 7px;
  right:80px;
  padding:10px 0;
}
.top__navigation .button{
  border: none;
  padding:0px 10px;
  border: 2px solid #444857;
  border-radius: 5px;
  background: #444857;
  font-size:1em;
  color:#fff;
  height: 35px;
}
footer .button:hover,
.editor .button.button--small:hover,
.top__navigation .button:hover{
  background: #1e1f26;
  cursor: pointer;
}
.code{
  background:#333;
}
.editor{
  width:calc(100%/3 - 17px);
  display: inline-block;
  position: relative;
  margin-left:10px;
  background: #333;
}
.editor .button.button--small{
  border: 2px solid #444857;
  border-radius: 5px;
  background: #444857;
  font-size: 1em;
  padding: 0px;
  position: relative;
  display: inline-block;
  margin: 5px;
  color:#fff;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.editor__gutter,
.editor__header{
  background: #000;
  padding: 5px;
}
.editor__heading {
  padding:0px 10px 0 10px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  font-size: 1em;
}
.editor__settings.choose{
  float: right;
}
.editor__input{
  width: 100%;
  height: 30vh;
  background: #333;
  color: #a69159;
  border: none;
  padding:10px 10px 10px 25px;
  margin: 0;
  font-size: 14px;
}
.editor__code{
  position: relative;
    border: 1px solid #444444;
}
.editor__gutter{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #333;
  color: #555;
  padding: 8px 0 0 8px;
  }
.editor__gutter .editor__number{
  display: block;
  font-size: 12.7px;
}
.editor__gutter .editor__number.multiline:after{
  content: "\25B8";
}
.preview{
  position: absolute;
  bottom: 23px;
  width: 100%;
  background: #000;
}
.preview iframe{
  width: 100%;
  height: calc(70vh - 163px);
}
footer{
  position: absolute;
  bottom: 0;
  height: 23px;
}
footer .settings{
  white-space: normal;
}
footer .button{
  color: #fff;
  font-size: .7em;
  border: none;
  background: transparent;
  border: none;
  border-right:1px solid #555;
  border-radius: 0;
  padding: 3px 10px;
  vertical-align: top;
  text-align: center;
  float: left;
}
.dropdown__html{
  position: absolute;
  right: 0;
  display: none;
  z-index: 2;
}
.dropdown__html.open{
  display: block;
}
.dropdown__html ul{
  background: #fff;
  margin: 0;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
}
.dropdown__html ul li{
  color:#000;
  list-style-type: none;
  padding: 10px;
  border-top: 1px solid #f0f0f0;
  font-size:.9em;
}
.dropdown__html ul li:hover{
  background: #f0f0f0;
  cursor: pointer;
}
.overlay{
  display: none;
  position: absolute;
  z-index: 3;
  background: rgba(0,0,0,0.5);
  height:100vh;
  width:100%;
  top: 0;
  left: 0;
}
.overlay.table{
    display: table;
}
.overlay__cell{
  display: table-cell;
  background: transparent;
  text-align: center;
  vertical-align: middle;
}
.inside__box{
  width:40%;
  max-height: 50vh;
  background: #000;
  margin:0 auto;
  color: #fff;
  text-align: left;
  padding: 20px;
  border: 2px solid #444444;
  border-radius: 5px;
  position: relative;
}

* {
  outline: none !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.editor .button.button--small{
  font-size: 10px;
    padding: 2px !important;
      width: 25px;
  height: 17px;
  line-height: 0;
}
.editor .button.button--small.choose{
  font-size: 20px;
    line-height: 0;
}
}
@-moz-document url-prefix() {
.editor .button.button--small{
border: 2px solid #444857;
  border-radius: 5px;
  background: #444857;
  font-size: 1em;
  padding: 0px;
  position: relative;
  display: inline-block;
  margin-top: 5px;
  color:#fff;
  cursor: pointer;
  width: 25px;
  height: 26px;
  line-height: 0;
}
.editor .button.button--small.drop__html{
  font-size: 15px;
    line-height: 0;
}
} 